html {
    height: 100%;
}

body {
    margin: 0;
    font-family: Helvetica, sans-serif, Arial;
    font-size: 17px;
    height: 100%;
}

.navbarClass {
    overflow: hidden;
    background-color: white;
}

.navbarClass a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 35px;
    padding-bottom: 33px;
    text-decoration: none;
    font-size: 17px;
}

.navbarClass a:hover {
    color: #0050ff;
}

.navbarClass a.active {
    background-color: white;
    color: black;
}

.navbarClass .icon {
    display: none;
}

a.myName {
    padding-top: 27px;
    padding-bottom: 31px;
}

span.myName {
    font-weight: bold;
    font-size: 26px;
}

i.myName {
    color: #0050ff
}

.AboutContainer {
    display: grid;
    grid-template-columns: 0.2fr 1.5fr 1.5fr 0.8fr;
    grid-template-rows: 0.3fr 2.3fr 0.4fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    height: 952px;
}

.AboutSidebar {
    grid-area: 1 / 1 / 4 / 3;
    background: #A8B1AE
}

.AboutCenterLeft {
    grid-area: 2 / 2 / 3 / 3;
    background: #D1D8D5;
    margin-right: -25px;
}

.AboutCenterRight {
    grid-area: 2 / 3 / 3 / 4;
    margin-left: 45px;
}

.AboutFooter {
    grid-area: 4 / 1 / 5 / 5;
}

@media screen and (max-width: 1000px) {
    .navbarClass a:not(:first-child) {
        display: none;
    }
    .navbarClass a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 1000px) {
    .navbarClass.responsive {
        position: relative;
    }
    .navbarClass.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbarClass.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.hide {
    opacity: 0;
    height: 0;
    overflow: hidden;
    display: none;
}

.fade-in {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
    /* height: auto; */
    overflow: auto;
    width: 100%;
    min-height: 80%;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        height: 0;
        min-height: 0;
        overflow: hidden;
    }
    49% {
        opacity: 0;
        height: 0;
        min-height: 0;
        overflow: hidden;
    }
    50% {
        opacity: 0;
        width: 100%;
        min-height: 80%;
        overflow: auto;
    }
    100% {
        opacity: 1;
        width: 100%;
        min-height: 80%;
        overflow: auto;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
        height: 0;
        min-height: 0;
        overflow: hidden;
    }
    49% {
        opacity: 0;
        min-height: 0;
        height: 0;
        overflow: hidden;
    }
    50% {
        opacity: 0;
        width: 100%;
        min-height: 80%;
        overflow: auto;
    }
    100% {
        opacity: 1;
        width: 100%;
        min-height: 80%;
        overflow: auto;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        min-height: 0;
        height: 0;
        overflow: hidden;
    }
    49% {
        opacity: 0;
        min-height: 0;
        height: 0;
        overflow: hidden;
    }
    50% {
        opacity: 0;
        width: 100%;
        min-height: 80%;
        overflow: auto;
    }
    100% {
        opacity: 1;
        width: 100%;
        min-height: 80%;
        overflow: auto;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
        min-height: 0;
        height: 0;
        overflow: hidden;
    }
    49% {
        opacity: 0;
        min-height: 0;
        height: 0;
        overflow: hidden;
    }
    50% {
        opacity: 0;
        width: 100%;
        min-height: 80%;
        overflow: auto;
    }
    100% {
        opacity: 1;
        width: 100%;
        min-height: 80%;
        overflow: auto;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
        min-height: 0;
        height: 0;
        overflow: hidden;
    }
    49% {
        opacity: 0;
        min-height: 0;
        height: 0;
        overflow: hidden;
    }
    50% {
        opacity: 0;
        width: 100%;
        min-height: 80%;
        overflow: auto;
    }
    100% {
        opacity: 1;
        width: 100%;
        min-height: 80%;
        overflow: auto;
    }
}

.fade-out {
    animation: fadeOut ease 1s;
    -webkit-animation: fadeOut ease 1s;
    -moz-animation: fadeOut ease 1s;
    -o-animation: fadeOut ease 1s;
    -ms-animation: fadeOut ease 1s;
    height: 0;
    overflow: hidden;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        width: 100%;
        min-height: 80%;
        overflow: auto;
    }
    49% {
        opacity: 0;
        width: 100%;
        min-height: 80%;
        overflow: auto;
    }
    50% {
        opacity: 0;
        height: 0;
        overflow: hidden;
    }
    100% {
        opacity: 0;
        height: 0;
        overflow: hidden;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
        width: 100%;
        min-height: 80%;
        overflow: auto;
    }
    49% {
        opacity: 0;
        width: 100%;
        min-height: 80%;
        overflow: auto;
    }
    50% {
        opacity: 0;
        height: 0;
        overflow: hidden;
    }
    100% {
        opacity: 0;
        height: 0;
        overflow: hidden;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
        width: 100%;
        min-height: 80%;
        overflow: auto;
    }
    49% {
        opacity: 0;
        width: 100%;
        min-height: 80%;
        overflow: auto;
    }
    50% {
        opacity: 0;
        height: 0;
        overflow: hidden;
    }
    100% {
        opacity: 0;
        height: 0;
        overflow: hidden;
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity: 1;
        width: 100%;
        min-height: 80%;
        overflow: auto;
    }
    49% {
        opacity: 0;
        width: 100%;
        min-height: 80%;
        overflow: auto;
    }
    50% {
        opacity: 0;
        height: 0;
        overflow: hidden;
    }
    100% {
        opacity: 0;
        height: 0;
        overflow: hidden;
    }
}

@-ms-keyframes fadeOut {
    0% {
        opacity: 1;
        width: 100%;
        min-height: 80%;
        overflow: auto;
    }
    49% {
        opacity: 0;
        width: 100%;
        min-height: 80%;
        overflow: auto;
    }
    50% {
        opacity: 0;
        height: 0;
        overflow: hidden;
    }
    100% {
        opacity: 0;
        height: 0;
        overflow: hidden;
    }
}